@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: "Inter";
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    width: 82%;
    height: 80%;
    background-color: #f6e2c9;
    flex-wrap: wrap;
    overflow: scroll;
    scrollbar-width: none;
    border-radius: 20px;
    padding: 30px;
    gap: 20px;
}

.item{
    width: 480px;
    height: 200px;
    background-color: aquamarine;
    border-radius: 30px;
    padding: 10px;
    display: flex;
}
.item__img{
    width: 180px;
    height: 180px;
    border-radius: 20px;
}
.item__info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.item__name{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
}
.item__email{
    font-size: medium;
    color: black;
    font-size: 15px;
    margin-bottom: 10px;
}
.item__email span{
    background-color: yellow;
}
.item__pass{
    font-size: 15px;
}